body, *, *::after, *::before {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.17rem;
}

html{
  width: 100vw;
  height: 100vh;
}
body{
  width: 100vw;
  height: 100vh;
  color: #a99f9f;
}


input, button{
  background-color: transparent;
  outline: none;
  border: none;
}
input{
  width: 100%;
  height: 100%;
}

span, p{
  font-weight: 700;
  line-height: 1.7;
}

li{
  list-style: none;
}
a, button{
  cursor: pointer;
}
a, a:visited{
  display: block;
  color: inherit;
  text-decoration: none;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


div#root{
  display: inline;
}

span.text{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div#app_grid{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
    "side-bar main"
    "side-bar main"
  ;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
}

aside#left_side{
  display: grid;
  grid-template-rows: auto 1fr;
  grid-area: side-bar;
  background-color: #222;
  min-width: 275px;
}
main#right_side{
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-area: main;
  background-color: #555;
}

svg.icon{
  width: 40px;
  height: 40px;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #4dead8;
  border: 0px solid #41b9ec;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e0c5e2;
}
::-webkit-scrollbar-thumb:active {
  background: #e0c5e2;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #666666;
}
::-webkit-scrollbar-corner {
  background: transparent;
}