

/*INPUT*/

section.top{
  display: flex;
  padding: .5rem 0;
  border-bottom: 1px solid #444;
  align-items: center;
  justify-content: center;
}

div.inputContainer{
  display: flex;
  align-items: center;
  gap: .75rem;
}
input#searcher{
  background-color: #111;
  color: #fff;
  padding: .2rem .5rem;
  font-size: .8em;
  border-radius: 3px;
}

/*CARDS*/

section.mid{
  overflow-y: auto;
}

div.cardsContainer,
div.playerContainer{
  margin: 0 .5rem;
  height: 100%;
}
header.songPlay{
  
}
article.card{
  display: flex;
  gap: 1.5rem;
  min-width: 170px;
  padding: .3rem;
  margin: 1rem 0;
  word-wrap: break-word;
  background-color: #fff;
}

article.card > *{
  align-self: center;
  line-height: 10px;
  width: max-content; height: max-content;
  flex: .5;
}

footer.songName{
  flex: 4;
}